* {
  margin: 0px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  transition: all 1s ease;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}
